<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mingyue.mingyue.dao.UserAccountDao">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->



    <select id="findByUsername" parameterType="String" resultType="com.mingyue.mingyue.bean.UserAccount">
        select id,username,password,salt
        from user_account
        where user_name = #{username}
    </select>


    <insert id="create"  parameterType="com.mingyue.mingyue.bean.UserAccount" >
        insert into user_account  (<include refid="userInsertFields"/>)
        values (
        #{uuid},
        #{userName},
        #{passWord},
        #{salt},
        #{deleteStatus},
        #{status},
        #{createdDate},
        #{createdBy},
        #{updateDate},
        #{updateBy}
        )

    </insert>


    <sql id="userInsertFields">

        uuid,
        user_name,
        pass_word,
        salt,
        delete_status,
        status,
        created_date,
        created_by,
        update_date,
        update_by
    </sql>

    <insert id="batchInsert" parameterType="list">
        insert into user_account  (<include refid="userInsertFields"/>)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (

            #{item.uuid},
            #{item.userName},
            #{item.passWord},
            #{item.salt},
            #{item.deleteStatus},
            #{item.status},
            #{item.createdDate},
            #{item.createdBy},
            #{item.updateDate},
            #{item.updateBy}

            )
        </foreach>
    </insert>

</mapper>